<div class="callout alert large">
	<h3 class="text-center">
		Coronavirus Update
	</h3>
	<p class="lead">
		DATA member societies are starting to resume performances, with measures in
		place to ensure social distancing. Please verify that an event is still on
		directly with the member society presenting that event before making plans
		to attend.
	</p>
	<p class="lead">
		Note that ensuring that social distancing can be observed is the
		responsibility of the member society presenting the event and not DATA. If
		you have any concerns in that respect please address queries to the member
		society.
	</p>
</div>
